/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");
@import url("https://kit.fontawesome.com/64d58efce2.js");

/*===== VARIABLES CSS =====*/
:root{
  --header-height: 3rem;
  --nav-width: 68px;

  /*===== Colors =====*/
  --first-color: #074C00;
  --first-color-light: #a5d9ae;
  --white-color: #F7F6FB;
  
  /*===== Font and typography =====*/
  --body-font: 'Nunito', sans-serif;
  --normal-font-size: 1rem;
  
  /*===== z index =====*/
  --z-fixed: 100;
}

/**************PRELOADER ~Oishee******************/
/*preloader*/
.preloader{
  padding:0;
  margin:0;
  width:100%;
  height:100%;
  left: 68px;
  top:10px;
  position: fixed;
  background:radial-gradient(#048654, #10521e);
  display: block;
  z-index: 9999;
}
.preloadcircles{
  z-index: 9999;
  width:200px;
  height:60px;
  position: absolute;
  left:50%;
  top:50%;
  transform: translate(-50%, -50%);
}
.circle{
  width:20px;
  height:20px;
  position: absolute;
  border-radius: 50%;
  background-color: #fff;
  left:15%;
  transform-origin: 50%;
  animation: circle .5s alternate infinite ease;
}

@keyframes circle{
  0%{
      top:60px;
      height:5px;
      border-radius: 50px 50px 25px 25px;
      transform: scaleX(1.7);
  }
  40%{
      height:20px;
      border-radius: 50%;
      transform: scaleX(1);
  }
  100%{
      top:0%;
  }
}
.circle:nth-child(2){
  left:45%;
  animation-delay: .2s;
}
.circle:nth-child(3){
  left:auto;
  right:15%;
  animation-delay: .3s;
}
.shadow{
  width:20px;
  height:4px;
  border-radius: 50%;
  background-color: rgba(0,0,0,.5);
  position: absolute;
  top:62px;
  transform-origin: 50%;
  z-index: -1;
  left: 15%;
  filter: blur(1px);
  animation: shadow .5s alternate infinite ease;
}

@keyframes shadow{
  0%{
      transform: scaleX(1.5);
  }
  40%{
      transform: scaleX(1);
      opacity: .7;
  }
  100%{
      transform: scaleX(.2);
      opacity: .4;
  }
}
.shadow:nth-child(4){
  left: 45%;
  animation-delay: .2s
}
.shadow:nth-child(5){
  left:auto;
  right:15%;
  animation-delay: .3s;
}
.preloadcircles span{
  position: absolute;
  top:75px;
  font-family: 'Lato';
  font-size: 20px;
  letter-spacing: 12px;
  color: #fff;
  left:15%;
}

/***************************************************/

/*===== BASE =====*/
*,::before,::after{
  box-sizing: border-box;
}

body{
  position: relative;
  margin: var(--header-height) 0 0 0;
  padding: 0 1rem;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  transition: .5s;
  background-color:#1D2521;
  font-family: "Poppins", sans-serif;
}

a{
  text-decoration: none;
}

/*===== HEADER =====*/
.header{
  width: 100%;
  height: var(--header-height);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  background:linear-gradient(to right,#074C00 ,#42a341);
  z-index: var(--z-fixed);
  transition: .5s;
}

.header__toggle{
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}

.header__img{
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  overflow:hidden;
}

.header__img img{
  width: 40px;
}

/*===== NAV =====*/
.l-navbar{
  position: fixed;
  top: 0;
  left: -30%;
  width: var(--nav-width);
  height: 100vh;
  background-color: var(--first-color);
  padding: .5rem 1rem 0 0;
  transition: .5s;
  z-index: var(--z-fixed);
}

.nav{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.nav__logo, .nav__link{
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  column-gap: 1rem;
  padding: .5rem 0 .5rem 1.5rem;
}

.nav__logo{
  margin-bottom: 2rem;
}

.nav__logo-icon{
  font-size: 1.25rem;
  color: var(--white-color);
}

.nav__logo-name{
  color: var(--white-color);
  font-weight: 900;
}

.nav__link{
  position: relative;
  color: var(--first-color-light);
  margin-bottom: 1.5rem;
  transition: .3s;
}

.nav__link:hover{
  color: var(--white-color);
}

.nav__icon{
  font-size: 1.28rem;
  color: var(--white-color);
}

/*Show navbar movil*/
.show{
  left: 0;
}

/*Add padding body movil*/
.body-pd{
  padding-left: calc(var(--nav-width) + 1rem);
}

/*Active links*/
.active{
  color: var(--white-color);
}

.active::before{
  content: '';
  position: absolute;
  left: 0;
  width: 2px;
  height: 32px;
  background-color: var(--white-color);
}

/* ===== MEDIA QUERIES=====*/
@media screen and (min-width: 768px){
  body{
    margin: calc(var(--header-height) + 1rem) 0 0 0;
    padding-left: calc(var(--nav-width) + 2rem);
  }

  .header{
    height: calc(var(--header-height) + 1rem);
    padding: 0 2rem 0 calc(var(--nav-width) + 2rem);
  }

  .header__img{
    width: 40px;
    height: 40px;
  }

  .header__img img{
    width: 45px;
  }

  .l-navbar{
    left: 0;
    padding: 1rem 1rem 0 0;
  }
  
  /*Show navbar desktop*/
  .show{
    width: calc(var(--nav-width) + 156px);
  }

  /*Add padding body desktop*/
  .body-pd{
    padding-left: calc(var(--nav-width) + 188px);
  }
}


h1{
  position:realtive;
  text-align: center;
  margin-top:20px;
  color:white;
  font-family: "Poppins", sans-serif;

}










































/* this is for that rotating obj */


@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


@media only screen and (max-width: 330px) {

}

.carbon-emission{
	/* background-color:#1D2521; */
	width:100%;

	position:relative;
    margin:auto;
   margin:50px;
	justify-content:center;
	align-items:center;
	/* overflow:hidden; */

}
.Card{
	position:relative;
	text-align:center;
	width:290px;
	height:260px;
    margin-right:2%;
    margin-left:9%;
    margin-top: 60px;
    margin-bottom: 30px;
	border-radius:74% 82% 70% 88%;
	display:table;
	padding:20px;
	background-color:rgba(255,255,255,.9);
	cursor:pointer;
	z-index:1;
	transition:.5s;
	color:#173509;
    display:inline-block;
}
.Card:before,
.Card:after{
	content:'';
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	z-index:-1;
	animation:RotateDiv 5s linear infinite;
}
.Card:before{
	border-radius:130% 151% 189% 166%;
	background-color:rgba(255,255,255,.7);
	animation-delay:0s;
	transition:.5s;
}
.Card:after{
	border-radius:145% 86% 80% 90%;
	background-color:rgba(255,255,255,.3);
	animation-delay:.2s;
	transition:.5s;
}
.Card:hover{
	background-color:rgba(12, 141, 34, 0.8);
	color:#fff;
}
.Card:hover:after{
	background-color: rgba(10, 129, 30, 0.7);
}
.Card:hover:before{
	background-color: rgba(4, 46, 11, 0.3);
}
.Card div{
	display:table-cell;
	vertical-align:middle;
}
.Card div h2{
	font-size:25px;
  margin-top: 10px;
}
.Card div p{
	margin-top:40px;
	font-size:18px;
}
@keyframes RotateDiv{
	0%{
		transform:rotate(0deg);
	}
	100%{
		transform:rotate(360deg);
	}
}
















































/* this is for that popup */


@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');
*,
*::before,
*::after {
  box-sizing: border-box;
}

p{
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.7;
	color: #1f2029;
}

.section-question{
  position: relative;
  
  margin-top:20px;
  margin-bottom:25px;
  width: 100%;
  display: block;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: center;
  justify-content: center;
}
.full-height{
  min-height: 100vh;
}

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked){
  position: absolute;
  left: -9999px;
}
.modal-btn:checked + label,
.modal-btn:not(:checked) + label{
  position: relative;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 2;
  height: 50px;
  transition: all 200ms linear;
  border-radius: 4px;
  width: 260px;
  letter-spacing: 1px;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  text-align: center;
    -ms-flex-item-align: center;
    align-self: center;
  border: none;
  cursor: pointer;
  background-color: #145808;
  color: white;
  box-shadow: 0 12px 35px 0 rgba(33, 90, 48, 0.288);
}
.modal-btn:not(:checked) + label:hover{
  background-color: #ffeba7;
  color: #095026;
}
.modal-btn:checked + label .uil,
.modal-btn:not(:checked) + label .uil{
	margin-left: 10px;
	font-size: 18px;
}
.modal-btn:checked + label:after,
.modal-btn:not(:checked) + label:after{
  position: fixed;
  top: 30px;
  right: 30px;
  z-index: 110;
  width: 40px;
  border-radius: 3px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 18px;
  background-color: white;
  color: #0f5513;
  font-family: 'unicons';
  content: '\eac6'; 
  box-shadow: 0 12px 25px 0 rgba(16, 112, 40, 0.25);
  transition: all 200ms linear;
  opacity: 0;
  pointer-events: none;
  transform: translateY(20px);
}
.modal-btn:checked + label:hover:after,
.modal-btn:not(:checked) + label:hover:after{
  background-color: #075518;
  color: #ffeba7;
}
.modal-btn:checked + label:after{
  transition: opacity 300ms 300ms ease, transform 300ms 300ms ease, background-color 250ms linear, color 250ms linear;
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}
.modal{
  position: fixed;
  display: block;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  overflow-x: hidden;
  background-color: rgba(31,32,41,.75);
  pointer-events: none;
  opacity: 0;
  transition: opacity 250ms 700ms ease;
}
.modal-btn:checked ~ .modal{
  pointer-events: auto;
  opacity: 1;
  transition: all 300ms ease-in-out;
}
.modal-wrap {
  color:teal;
  text-align: center;
  align-items: center;
  position: relative;
  display: block;
  width: 100%;
  max-width: 380px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
  overflow: hidden;
  padding-bottom: 20px;
  background-color: #ffeba7;
    -ms-flex-item-align: center;
    align-self: center;
    box-shadow: 0 12px 25px 0 rgba(199,175,189,.25);
  opacity: 0;
  transform: scale(0.6);
  transition: opacity 250ms 250ms ease, transform 300ms 250ms ease;
}
.modal-wrap img {
  text-align: center;
  align-items: center;
  position: relative;
  display: block;
  width: 100%;
}
.modal-wrap p {
  padding: 20px 30px 0 30px;
}
.modal-btn:checked ~ .modal .modal-wrap{
  opacity: 1;
  transform: scale(1);
  transition: opacity 250ms 500ms ease, transform 350ms 500ms ease;
}


.logo {
	position: absolute;
	top: 25px;
	left: 25px;
	display: block;
	z-index: 1000;
	transition: all 250ms linear;
}
.logo img {
	height: 26px;
	width: auto;
	display: block;
  	filter: brightness(10%);
	transition: filter 250ms 700ms linear;
}
.modal-btn:checked ~ .logo img {
  	filter: brightness(100%);
	transition: all 250ms linear;
}


@media screen and (max-width: 500px) {
	.modal-wrap {
		width: calc(100% - 40px);
		padding-bottom: 15px;
	}
	.modal-wrap p {
	  padding: 15px 20px 0 20px;
	}
  .section-question{
    width:600px;
  }
}


.slider {
  margin-bottom: 5%;
  -webkit-appearance: none;
  width: 90%;
  height: 5px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 50%; 
  background: #074C00;
  cursor: pointer;
}
#form1 p{
  padding: 0 0 3% 0 ;
  margin: 0;
}
#form1 h3{
  margin: 1% 1% 0 1%;

}
.food-options{
  text-align: left; 
  margin: 10% 10% 1% 10% ;   
}
.meat img{
  position: relative;
  left: 50px;
}
.low-meat{
  position: relative;
  left:200px;
  bottom: 70px;
}
.low-meat img{
  position: relative;
  top:5%;
  left: 40px;
}
.fish{
  position: relative;
  bottom: 60px;
}
.fish img{
  position: relative;
  left: 40px;
}
.veg{
  position: relative;
  left:200px;
  bottom: 130px;
}
.vegan{
  position: relative;
  left: 40%;
  bottom: 100px;
}


.input-field i {
  text-align: center;
  line-height: 55px;
  color: #acacac;
  transition: 0.5s;
  font-size: 1.1rem;
}

.input-field input::placeholder {
  color: #aaa;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
.input-field input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.1rem;
  color: #333;
}
.input-field {
  max-width: 180px;
  width: 90%;
  background-color: #f0f0f0;
  margin: 10px auto;
  height: 55px;
  border-radius: 55px;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 0.4rem;
  position: relative;
}

form button{
  width:110px;
  height: 40px;
  border-color: #04AA6D ;
  border-radius: 30px ;
 background:linear-gradient(to right,#074C00 ,#42a341);
 color: white;
   
}



































/* this is for the suggestion cards */

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.heading-container {
  text-align: center;
}

.heading {
  font-weight: 600;
  color:white;
}

.credit {
  margin: 10px 0px;
  color: #888888;
  font-size: 25px;
  transition: all 0.5s;
}

.credit a {
  color: inherit;
}

a,
.card__exit,
.card__icon {
  position: relative;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.9);
}

a::after {
  position: absolute;
  top: 25px;
  left: 0;
  
  width: 0%;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.6);
  transition: all 0.5s;
}

a:hover::after {
  width: 100%;
}

.main-container {
  padding: 25px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  margin: 20px;
  padding: 20px;
  width: 450px;
  min-height: 210px;
  display: grid;
  grid-template-rows: 20px 50px 1fr 50px;
  border-radius: 10px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.5s;
}

.card:hover {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
  transform: scale(1.01);
}

.card__exit {
  grid-row: 1/2;
  justify-self: end;
}

.card__icon {
  grid-row: 2/3;
  font-size: 30px;
}

.card__title {
  margin-top: 5px;
  grid-row: 3/4;
  font-weight: 380;
  color: #ffffff;
}

/* added the following li properties ~Oishee */
ul li:before {    
  font-family: 'FontAwesome';
  content: '\f06c';
  margin:0 5px 0 -15px;
  color: #048654;
}
li:not(:last-child) {
  margin-bottom: 10px;
}
.card__apply {
  grid-row: 4/5;
  align-self: center;
  color: #fff;
}

.card-1 {
  background: radial-gradient(#1fe4f5, #3fbafe);
}

.card-2 {
  background: radial-gradient(#e360ef, #9552c2);
}

.card-3 {
  background: radial-gradient(#f588d8, #c0a3e5);
}

.card-4 {
  background: radial-gradient(#60efbc, #58d5c9);
}

.card-5 {
  background: radial-gradient(#f588d8, #c0a3e5);
}

@media (max-width: 1200px) {
  .card-container {
    justify-content: center;
  }
}
@media only screen and (max-width: 530px) {

  .card-container {
    justify-content: center;
    width:700px;
  }
}




















/* personalized environmental kit card */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 100vh;
  
} */

body .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1600px;
  margin: 40px 0;
  padding:30px;
}

body .container .card {
  position: relative;
  width: 350px;
  height: 450px;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
    inset -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  margin: 30px;
  transition: 0.5s;
}

body .container .card:nth-child(1) .box .content a {
  background: #2196f3;
}

body .container .card:nth-child(2) .box .content a {
  background: #e91e63;
}

body .container .card:nth-child(3) .box .content a {
  background: #23c186;
}

body .container .card .box {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
 
  background: #2a2b2f;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.5s;
}

body .container .card .box:hover {
  transform: translateY(-50px);
}

body .container.card .box:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.03);
}

body .container .card .box .content {
  padding: 20px;
  text-align: center;
}

body .container .card .box .content h2 {
  position: absolute;
  top: -10px;
  right: 30px;
  font-size: 8rem;
  color: rgba(255, 255, 255, 0.1);
}

body .container .card .box .content h3 {
  font-size: 1.8rem;
  color: #fff;
  z-index: 1;
  transition: 0.5s;
  margin-bottom: 15px;
}

body .container .card .box .content p {
  font-size: 1rem;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.9);
  z-index: 1;
  transition: 0.5s;
}

body .container .card .box .content a {
  position: relative;
  display: inline-block;
  padding: 8px 10px;
  background: black;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  margin-top: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}
body .container .card .box .content a:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
  background: #fff;
  color: #000;
}
@media only screen and (max-width: 530px) {

.container{
  width:650px;

}
.climate-h1{
  align-items: center;
  width:640px;
}


}


















/* graphs */


.wrapper {
  display: block;
  margin: 3em auto;
  /* border:3px solid rgb(14, 73, 73); */
  width: 700px;
  height: 390px;
  margin-left:3%;
  margin-right:1%;
  position: relative;
  margin-top:30px;
}
p{text-align:center;}
.label {
  height: 2em;
  padding: .3em;
  background: rgba(212, 212, 212, 0.8);
  position: absolute;
  display: none;
  color:rgb(20, 19, 19);
  
}





















.full { max-width: 700px; position: relative; margin: 0 auto;}

.main-title { 
    position: absolute;
    border-left: solid 5px #333;
    padding-left: 10px;
    color: white;
    margin: 0 20px 20px 20px;
    font-family: Impact, serif;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 1;
    top: 0;
}

.main-title span { display: block;}
.main-title a { 
    color: inherit;}

.main-title span { margin-bottom: 0;}
.main-title .span1 { font-size: 29px;}
.main-title .span2 { font-size: 45px;}
.main-title .span3 { font-size: 11px; font-family: Verdana, Arial, Helvetica, sans-serif; text-transform: none; font-weight: normal;}

figure { margin: 0;}

.container-graph {
    width: 500px;
    height: 300px;
    position: relative;
    margin: 50px auto;
    -webkit-perspective: 4000px;
    -webkit-transform-style: preserve-3d;
    
    -moz-perspective: 4000px;
    -moz-transform-style: preserve-3d;
    
    -webkit-animation: rotateChart 10s linear; 
    -webkit-animation-fill-mode: forwards;
    
    -moz-animation: rotateChart 10s linear; 
    -moz-animation-fill-mode: forwards;
}
.container-graph:hover {
  width: 500px;
  height: 300px;
  position: relative;
  margin: 50px auto;
  -webkit-perspective: 4000px;
  -webkit-transform-style: preserve-3d;
  
  -moz-perspective: 4000px;
  -moz-transform-style: preserve-3d;
  
  -webkit-animation: rotateChart 14s linear; 
  -webkit-animation-fill-mode: forwards;
  
  -moz-animation: rotateChart 14s linear; 
  -moz-animation-fill-mode: forwards;
}

@-moz-keyframes rotateChart
{
0% {
    -moz-transform: rotateX(0deg) rotateY(-20deg);
    }  
    
100% {
    -moz-transform: rotateX(0deg) rotateY(-380deg);
    }
}

@-webkit-keyframes rotateChart/* Safari and Chrome */
{
0% {
    -webkit-transform: rotateX(0deg) rotateY(-20deg);
    }  
    
100% {
    -webkit-transform: rotateX(0deg) rotateY(-380deg);
    }
}

.persp1, .persp2, .persp3, .persp4, .persp5 {
    position: absolute;
    width: 100px;
    bottom:0;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    z-index: 99;

}

.persp1 { height: 70%;}
.persp2 { height: 50%;}
.persp3 { height: 35%;}
.persp4 { height: 28%;}
.persp5 { height: 17%;}

.face {
    position: absolute;
}

.data-y {
    background: none!important;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #FFF;
    text-align: center;
    text-shadow: 1px 1px #666;
    -webkit-transform: translateZ(1px);
    -moz-transform: translateZ(1px);
}

.data-x {
    background-image: url(http://www.heloisabiagi.com/media/charts01-social.png); 
    background-repeat:repeat; 
    background-color:#FFF!important;
    -webkit-transform-origin: top left;
    -webkit-transform: rotateX(90deg);
    -moz-transform-origin: top left;
    -moz-transform: rotateX(90deg);
    top: 100%;
}

.persp1 .data-x { background-position: 0px 10px; }
.persp2 .data-x { background-position: 0px -90px; }
.persp3 .data-x { background-position: 0px -190px; }
.persp4 .data-x { background-position: 0px -290px; }
.persp5 .data-x { background-position: 0px -390px; }

.persp1 { margin-left: 370px;}
.persp2 { margin-left: 290px;}
.persp3 { margin-left: 210px;}
.persp4 { margin-left: 130px;}
.persp5 { margin-left: 50px;}

/* Faces */

.front, .left, .right, .back {
    width: 50px;
    height: 100%;
}

.top, .data-x, .data-y {
    width: 50px;
    height: 50px;
}

.persp1 .face {
      background-color: #3B5998;
}


.persp2 .face {
    background-color: #20ACFF;
}


.persp3 .face {
    background-color: #C53727;
}

.persp4 .face {
    background-color: #4393BB;
}

.persp5 .face {
    background-color: #DD4B5D;
}


/* Faces default*/

.front {
    opacity: 0.7;
}

.left {
    -webkit-transform: rotateY(90deg);
    -webkit-transform-origin: top left;
    -moz-transform: rotateY(90deg);
    -moz-transform-origin: top left;
    opacity: 0.7;
}



.right {
    -webkit-transform: rotateY(-90deg);
    -webkit-transform-origin: top right;
    background-image: gradient(linear, 0% 0%, 0% 100%, from(rgba(0,0,0,0.5)), to(transparent));
    background-image: -moz-linear-gradient(-90deg, rgba(0,0,0,0.5), transparent);
    -moz-transform: rotateY(-90deg);
    -moz-transform-origin: top right;

}


.top {
    -webkit-transform-origin:top left;
    -webkit-transform: rotateX(90deg) translateY(-50px);
    background-image: gradient(linear, 0% 0%, 0% 100%, from(rgba(255,255,255,0.3)), to(rgba(255,255,255,0.5)));
    
    -moz-transform-origin:top left;
    -moz-transform: rotateX(90deg) translateY(-50px);
    background-image: -moz-linear-gradient(90deg, rgba(255,255,255,0.3), rgba(255,255,255,0.5));
    z-index: 99;
}

.back {
    -webkit-transform: translateZ(-50px);
    -moz-transform: translateZ(-50px);
}

.base {
    background-color: #FFF;
    -webkit-transform: rotateX(90deg) translateZ(100px);
    -moz-transform: rotateX(90deg) translateZ(100px);
    width: 100%;
    height: 200px;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    border-bottom: solid 3px #CCC;
    border-right: solid 3px #CCC;   
    }

.bars { height: 100%;}

.subtitle { position: relative; margin: 0 auto; width: 510px;}

.list-social li {
    font-family: Arial, sans-serif; 
    list-style: none; 
    float: left; 
    margin-right: 10px;
    margin-left:20px;

    color:white;
    margin-bottom:40px;
}

.list-social li:before {
    content: '';
    display: block;
    float: left;
    width: 20px;
    height: 20px;
    background-color: #F0F;
    border-radius: 4px;
    margin-right: 5px;
}

.list-social li.fb:before { background-color: #3B5998;}
.list-social li.twt:before { background-color: #20ACFF;}
.list-social li.gp:before { background-color: #C53727;}
.list-social li.lkd:before { background-color: #4393BB;}
.list-social li.pin:before { background-color: #DD4B5D;}




.wrapper-goal {
  position: relative;
  width: 150px;
  height: 150px;
  margin: auto;
 top:8px;
  left: 0;

  right: 0;
  display: flex;
}
/* .container-goal {
  font: 1px;
  padding: 0 20px;
  height:100px;
  width:30px;
} */







/* did you know css */

:root{
  --background-dark: #2d3548;
  --text-light: rgba(255,255,255,0.6);
  --text-lighter: rgba(255,255,255,0.9);
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 64px;
  --width-container: 600px;
}

*{
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.did-u-know{
    align-items: center;
    position:relative ;
    right:20%;
    width: 60%;
    padding-top: 80px;
    margin-left: 35%;
    margin-right:35%;

}


.hero-section{
  align-items: center;
  /* background-image: linear-gradient(15deg, #0f4667 0%, #2a6973 150%); */
  display: flex;
  min-height: 130%;
  width:40%;
  position:absolute;
  /* margin:30%;
  right:900px; */
  justify-content: center;
  /* padding: 20px 70% 10px 40% ; */
}

.card-grid{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: var(--spacing-l);
  grid-row-gap: var(--spacing-l);
  max-width: var(--width-container);
  width: 70%;
}




@media(min-width: 960px){
  .card-grid{
    grid-template-columns: repeat(2, 1fr); 
  }
} 

.card{
  list-style: none;
  position: relative;
  width: 400px;
}

.card:before{
  content: '';
  display: block;
  padding-bottom: 150%;
  width: 80%;
}

.card__background{
  background-size: cover;
  background-position: center;
  border-radius: var(--spacing-l);
  bottom: 0;
  filter: brightness(0.75) saturate(1.2) contrast(0.85);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: center;
  trsnsform: scale(1) translateZ(0);
  transition: 
    filter 200ms linear,
    transform 200ms linear;
}

.card:hover .card__background{
  transform: scale(1.05) translateZ(0);
}

.card-grid:hover > .card:not(:hover) .card__background{
  filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}

.card__content{
  left: 0;
  padding: var(--spacing-l);
  position: absolute;
  top: 0;
}

.card__category{
  color: var(--text-light);
  font-size: 0.9rem;
  margin-bottom: var(--spacing-s);
  text-transform: uppercase;
}

.card__heading{
  color: var(--text-lighter);
  font-size: 1.9rem;
  text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
  line-height: 1.5;
}

























*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
	padding: 20px;
}

.line-chart {
	animation: fadeIn 600ms cubic-bezier(.57,.25,.65,1) 1 forwards;
  opacity: 0;
  margin:auto;
  margin-top:100px;
	max-width: 640px;
  height: 350px;
 border-radius: 20px;
	width: 100%;
   background-color: black; 
}

.aspect-ratio {
  height: 0;
  margin-top:70px;
  padding-bottom: 50%;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
.heading-chart{
  width:100%;
  height:65px;
  text-align:center;
}
@media only screen and (max-width: 600px) {
 
 .line-chart{
  width: 600px;


 }
 .heading{
   width:600px;
 }
 
  

}


