
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    background-color:#1D2521;
    background-position: center;
}


.container{
    width: 55%;
    height: 600px;
    margin: 8% auto;
    background: #fff;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}

h3{
    text-align: center;
    margin-top: 100px;
    color: #66bfbb;
}
.container form{
    width: 100%;
    position: absolute;
    margin:  auto;
    transition: 0.5s;
}
form input{
    width: 100%;
    padding: 10px 5px;
    margin: 10px 0;
    border: 0;
    border-bottom: 1px solid #999 ;
    line-height: 50px;
    outline: none;
    background: transparent;
}
::placeholder{
    color: #777;
}
.btn-box{
    width: 100%;
    margin: 30px auto;
    text-align: center;
    text-emphasis-color: white;

}
form button{
    width:110px;
    height: 40px;
    margin: 0 10px;
    border-radius: 30px ;
   background:linear-gradient(to right,#074C00 ,#42a341);
     
}
#form2{
    left: 1000px;
}
#form3{
    left: 1000%;
}
.step-row{
    width: 100%;
    height: 50px;
    margin: 0 ;
    display:flex;
    align-items: center;
    box-shadow:0 -1px 5px #000;
    position:relative;
}
.step-col{
    width:33%;
    text-align: center;
    color:#333;
    position:relative;

}
#progress{
    position:absolute;
    height: 100%;
    width: 33%;
    background:linear-gradient(to right,#074C00 ,#42a341);
    transition:1s;


}
#progress::after{
    content:'';
    height: 0;
    width: 0;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    position: absolute;
    right: -40px;
    top:0;
  
    border-left: 40px solid #42a341;
}
