@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

/**************PRELOADER******************/
/*preloader*/
.preloader{
  padding:0;
  margin:0;
  width:100%;
  height:100vh;
  background:radial-gradient(#048654, #10521e);
}
.wrapper{
  width:200px;
  height:60px;
  position: absolute;
  left:50%;
  top:50%;
  transform: translate(-50%, -50%);
}
.circle{
  width:20px;
  height:20px;
  position: absolute;
  border-radius: 50%;
  background-color: #fff;
  left:15%;
  transform-origin: 50%;
  animation: circle .5s alternate infinite ease;
}

@keyframes circle{
  0%{
      top:60px;
      height:5px;
      border-radius: 50px 50px 25px 25px;
      transform: scaleX(1.7);
  }
  40%{
      height:20px;
      border-radius: 50%;
      transform: scaleX(1);
  }
  100%{
      top:0%;
  }
}
.circle:nth-child(2){
  left:45%;
  animation-delay: .2s;
}
.circle:nth-child(3){
  left:auto;
  right:15%;
  animation-delay: .3s;
}
.shadow{
  width:20px;
  height:4px;
  border-radius: 50%;
  background-color: rgba(0,0,0,.5);
  position: absolute;
  top:62px;
  transform-origin: 50%;
  z-index: -1;
  left:15%;
  filter: blur(1px);
  animation: shadow .5s alternate infinite ease;
}

@keyframes shadow{
  0%{
      transform: scaleX(1.5);
  }
  40%{
      transform: scaleX(1);
      opacity: .7;
  }
  100%{
      transform: scaleX(.2);
      opacity: .4;
  }
}
.shadow:nth-child(4){
  left: 45%;
  animation-delay: .2s
}
.shadow:nth-child(5){
  left:auto;
  right:15%;
  animation-delay: .3s;
}
.wrapper span{
  position: absolute;
  top:75px;
  font-family: 'Lato';
  font-size: 20px;
  letter-spacing: 12px;
  color: #fff;
  left:15%;
}

/***************************************************/
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    background:#1D2521;
   
    background-repeat: repeat;
    background-position: center;
}


.container{
    width: 75%;
    height: 1450px;
    margin: 8% auto;
    padding-left: 0px;
    padding-right: 0px;
    background: white;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}

h3{
    text-align: center;
    margin-top: 80px;
    margin-bottom: 40px;
    color: #5d0623;
    font-size: 35px;
    font-family: "Poppins", sans-serif;
}
h1,h2{
  color:white;
  font-family: "Poppins", sans-serif;
}
label{
  font-family: "Poppins", sans-serif;
}
h4{
  color:teal;
  font-size: 25px;
  margin-top:30px;
  margin-bottom:30px;
  font-family: "Poppins", sans-serif;
  margin-top: 20;
  text-align:center;
}

h5{
  color:white;
  font-size: 25px;
  font-family: "Poppins", sans-serif;
}

.container form{
    width: 100%;
    position: absolute;
    margin:  auto; 
    transition: 0.5s;
}
.form-check {
    padding: 1%;
    margin: 10px  40px 30px 10px;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-style: bold;
    color:teal;
}
::placeholder{
    color: #777;
}
.btn-box{
    width: 100%;
    margin: 20px auto;
    text-align: center;
    text-emphasis-color: white;
    font-family: "Poppins", sans-serif;

}
form button{
    width:110px;
    height: 40px;
    border-color: #04AA6D ;
    border-radius: 30px ;
   background:linear-gradient(to right,#074C00 ,#42a341);
   color: white;
     
}
#form2{
    left: 1500px;
}
#form3{
    left: 1500px;
}
.step-row{
    width: 100%;
    height: 50px;
    margin: 0 ;
    display:flex;
    align-items: center;
    box-shadow:0 -1px 5px #000;
    position:relative;
}
.step-col{
    color: white;
    width:33%;
    text-align: center;    
    position:relative;
    font-family: "Poppins", sans-serif;
}
#progress{
    position:absolute;
    height: 100%;
    width: 33%;
    background:linear-gradient(to right,#074C00 ,#42a341);
    transition:1s;


}
#progress::after{
    content:'';
    height: 0;
    width: 0;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    position: absolute;
    right: -40px;
    top:0;
  
    border-left: 40px solid #42a341;
}
.slider {
    -webkit-appearance: none;
    width: 90%;
    height: 10px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }

.slider:hover {
opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%; 
    background: #074C00;
    cursor: pointer;
  }
  
.slider::-moz-range-thumb {
    width: 23px;
    height: 25px;
    border-radius: 50%; 
    background: #074C00;
    cursor: pointer;
}
.input-field i {
    text-align: center;
    line-height: 55px;
    color: #acacac;
    transition: 0.5s;
    font-size: 1.1rem;
  }

.input-field input::placeholder {
    color: #aaa;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
  }
  .input-field input {
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
    color: #333;
  }
  .input-field {
    max-width: 180px;
    width: 90%;
    background-color: #f0f0f0;
    margin: 10px auto;
    height: 55px;
    border-radius: 55px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 0.4rem;
    position: relative;
  }
p{
    text-align: center;
    font-family: "Poppins", sans-serif;
}

.food-options{
  padding: 10px 60px 0px 150px;
}
/* .custom-control{
  padding: 40px;
} */
.custom-control-label{
  position: relative;
  top: 10px;
  padding-left: 10px;
  font-family: "Poppins", sans-serif;
  padding-bottom: 40px;
}
.ramen{
  padding: 10px;
}
.custom-control-input{
  size: 150px;
}
.custom-radio{
    color:teal;
    font-size: 20px;
    margin: auto;
}
.customRadio
{
    color:teal;
    width:20px;
    height:20px;
}

    .form-check {
        padding: 1%;
        margin: 10px  40px 30px 10px;
        font-family: "Poppins", sans-serif;
        font-size: 15px;
        color:teal;
        font-style: bold;
    }
  
  .box{
    margin: auto;
    padding: 40px;
    text-align:center;
    border-style: solid;
    background:linear-gradient(to right,#074C00 ,#42a341);


  }
.bg-nav{
  background:linear-gradient(to right,#074C00 ,#42a341);

}
.navbar-brand{
  text-emphasis-color:white;
}


.slider-wrapper{
  margin:  auto;
  padding: 10px 40px 10px 100px;
}



  .fluid-slider {
    -webkit-appearance: none;
    width: 90%;
    height: 30px;
    background: #045f18;
    border-radius: 2px;
    margin: 0;
    position: relative;
  }
  
  .fluid-slider::-webkit-slider-thumb {
   -webkit-appearance: none;
   appearance: none;
   border-radius: 0;
   width: 20px;
   height: 20px;
   border-radius: 50%;
   cursor: pointer;
   background: #fff;
   opacity: 0.65;
   border: 4px solid #0c6218;
   position: relative;
   transition: all ease-in-out 0.05s;
  }
  
  .fluid-slider::-moz-range-thumb {
   -moz-appearance: none;
   appearance: none;
   border-radius: 0;
   width: 18px;
   height: 18px;
   border-radius: 50%;
   cursor: pointer;
   background: #fff;
   opacity: 0.65;
   border: 4px solid #076b3c;
   position: relative;
   transition: all ease-in-out 0.05s;
  }
  
  .fluid-slider:focus { outline: none; }
  .fluid-slider:active::-webkit-slider-thumb {
   background: transparent;
  }
  
  .fluid-slider:active::-moz-range-thumb {
   background: transparent;
  }
  
  .fluid-slider:active + .range-label {
    visibility: visible;
    opacity: 1;
    top: -75px;
  }
  
  .fluid-slider:before, .fluid-slider::after {
    position: absolute;
    content: '';
    width: 60px;
    padding: 0.5em;
    background: #d0d0d0;
    top: 50%;
    transform: translateY(-50%);
    box-sizing: border-box;
    text-align: center;
    font-weight: bold;
    border-radius: 2px;
  }
  
  .fluid-slider:before {
    left: -50px;
    content: attr(min);
  }
  
  .fluid-slider:after {
    right: -50px;
    content: attr(max);
  }
  
  .range-label {
    position: relative;
    display: block;
    width: 40px;
    height: 40px;
    top: -65px;
    
    opacity: 0;
    background: #fff;
    border-radius: 50%;
    line-height: 30px;
    text-align: center;
    font-weight: bold;
    font-size: 0.8em;
    transform: translateX(-50%);
    box-sizing: border-box;
    border: 6px solid #c20042;
    left: attr(value)20;
    transition: all ease-in .05s;
    z-index: -1;
  }
  
  .range-label:after {
    position: absolute;
    content: '';
    top: 33px;
    left: 50%;
    transform: translateX(-50%);
    width: 10px;
    height: 8px;
    background-repeat: no-repeat;
    background-image: radial-gradient(circle, white 50%, transparent 50%), radial-gradient(circle, white 50%, transparent 50%), linear-gradient(#c20042, #c20042);
    background-size: 180% 100%, 180% 100%, 100% 100%;
    background-position: 150% 0%, -50% 0%, 100% 100%;
  }
  
  ::-moz-range-track {
   background: #c20042;
   border: 0;
  }
  
   input::-moz-focus-inner, input::-moz-focus-outer {
   border: 0;
  }

@media only screen and (max-width: 900px) {
    .custom-radio{
        color:teal;
        font-size: 12px;
        margin: auto;
    }
  .slider-wrapper{
    padding:40px;
  }
    .food-options{
      padding: 10px 40px 10px 70px;
      }
      /* .custom-control{
        padding: 40px;
      } */
      h3{
        text-align: center;
        margin-top: 80px;
        color: #5d0623;
        font-size: 15px;
        font-family: "Poppins", sans-serif;}
  h5{
      font-size: 20px;
    }
    h4{
      font-size: 15px;
    }
    h1{
      font-size:20px;
    }
    .input-field{
      height: 50px;
    }
    .container{
      width:100%;
    }

}
   
@media only screen and (max-width: 230px) {
  .custom-radio{
      color:teal;
      font-size: 12px;
      margin: auto;
  }
.slider-wrapper{
  padding:40px;
}
  .food-options{
    padding: 10px 25px 8px 40px;
    }
    /* .custom-control{
      padding: 40px;
    } */
    h3{
      text-align: center;
      margin-top: 60px;
      color: #5d0623;
      font-size: 15px;
      padding: 15px;
      font-family: "Poppins", sans-serif;}
h5{
    font-size: 20px;
  }
  h4{
    font-size: 15px;
  }
  h1{
    font-size:20px;
  }
  .input-field{
    height: 50px;
  }
  .container{
    width:100%;
  }

}
 


   
