@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    background:#1D2521;
   
    background-repeat: repeat;
    background-position: center;
}


.container{
    width: 65%;
    height: 1200px;
    margin: 8% auto;
    padding-left: 0px;
    padding-right: 0px;
    background: white;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}

h3{
    text-align: center;
    margin-top: 80px;
    color: #5d0623;
    font-size: 35px;
    font-family: "Poppins", sans-serif;
}
.container form{
    width: 100%;
    position: absolute;
    margin:  auto; 
    transition: 0.5s;
}
.form-check {
    padding: 1%;
    margin: 10px  40px 30px 10px;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-style: bold;
}
::placeholder{
    color: #777;
}
.btn-box{
    width: 100%;
    margin: 20px auto;
    text-align: center;
    text-emphasis-color: white;
    font-family: "Poppins", sans-serif;

}
form button{
    width:110px;
    height: 40px;
    border-color: #04AA6D ;
    border-radius: 30px ;
   background:linear-gradient(to right,#074C00 ,#42a341);
   color: white;
     
}
#form2{
    left: 1500px;
}
#form3{
    left: 1000px;
}
.step-row{
    width: 100%;
    height: 50px;
    margin: 0 ;
    display:flex;
    align-items: center;
    box-shadow:0 -1px 5px #000;
    position:relative;
}
.step-col{
    color: white;
    width:33%;
    text-align: center;    
    position:relative;
    font-family: "Poppins", sans-serif;
}
#progress{
    position:absolute;
    height: 100%;
    width: 33%;
    background:linear-gradient(to right,#074C00 ,#42a341);
    transition:1s;


}
#progress::after{
    content:'';
    height: 0;
    width: 0;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    position: absolute;
    right: -40px;
    top:0;
  
    border-left: 40px solid #42a341;
}
.slider {
    -webkit-appearance: none;
    width: 90%;
    height: 10px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }

.slider:hover {
opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%; 
    background: #074C00;
    cursor: pointer;
  }
  
.slider::-moz-range-thumb {
    width: 23px;
    height: 25px;
    border-radius: 50%; 
    background: #074C00;
    cursor: pointer;
}
.input-field i {
    text-align: center;
    line-height: 55px;
    color: #acacac;
    transition: 0.5s;
    font-size: 1.1rem;
  }

.input-field input::placeholder {
    color: #aaa;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
  }
  .input-field input {
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
    color: #333;
  }
  .input-field {
    max-width: 180px;
    width: 90%;
    background-color: #f0f0f0;
    margin: 10px auto;
    height: 55px;
    border-radius: 55px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 0.4rem;
    position: relative;
  }
p{
    text-align: center;
    font-family: "Poppins", sans-serif;
}

.food-options{
  padding: 10px 0 0 250px;
}
/* .custom-control{
  padding: 40px;
} */
.custom-control-label{
  position: relative;
  top: 10px;
  padding-left: 10px;
  font-family: "Poppins", sans-serif;
  padding-bottom: 50px;
}
.ramen{
  padding: 10px;
}
.custom-control-input{
  size: 150px;
}
