<!DOCTYPE html>
<html lang="en">
  <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--========== CSS ==========-->
        <link rel="stylesheet" href="/static/css/community.css">

        <title>CarboHack Community</title>
  </head>
  <body>

    <h1 class="text">A COMMUNITY WOULD</h1>
    <h1 class="text">BE HERE TO</h1>
    <h1 class="text">GREET YOU SOON</h1>

    <a class="fixedButton" href="/MyAccount">
      <div class="roundedFixedBtn"><i class="fa fa-phone"></i>BACK</div>
   </a>
 
    
	</body> 
</html>