<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script
        src="https://kit.fontawesome.com/64d58efce2.js"
        crossorigin="anonymous"
      ></script>
        <!-- ===== BOX ICONS ===== -->
        <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

         

        <!-- ===== CSS ===== -->
        <link rel="stylesheet" href="/static/css/dashboard.css">

        <title>carbohack-homepage</title>
    </head>
    <body id="body-pd">
        <header class="header" id="header">
            <div class="header__toggle">
                <i class='bx bx-menu' id="header-toggle"></i>
                CARBO-HACK
            </div>

            <div class="header__img">
                <img src="/static/img/earth.png" alt="">
            </div>
        </header>

        <div class="l-navbar" id="nav-bar">
          
            <nav class="nav">
            
                <div>
                    <a href="#" class="nav__logo">
                        <i class='bx bx-user-circle nav__icon '></i>
                        <span class="nav__logo-name">CarboHack</span>
                    </a>

                    <div class="nav__list">
                        <a href="#" class="nav__link active">
                        <i class='bx bx-grid-alt nav__icon' ></i>
                            <span class="nav__name">Dashboard</span>
                        </a>

                        <a href="user.html" class="nav__link">
                            <i class='bx bx-user nav__icon' ></i>
                            <span class="nav__name">User Account</span>
                        </a>
                        
                        <a href="#" class="nav__link">
                            <i class='bx bx-message-square-detail nav__icon' ></i>
                            <span class="nav__name"> Community text</span>
                        </a>

                        <a href="#" class="nav__link">
                            <i class='bx bx-bookmark nav__icon' ></i>
                            <span class="nav__name">History log</span>
                        </a>

                        <a href="#" class="nav__link">
                            <i class='bx bx-folder nav__icon' ></i>
                            <span class="nav__name">Data</span>
                        </a>

                        <a href="#" class="nav__link">
                            <i class='bx bx-bar-chart-alt-2 nav__icon' ></i>
                            <span class="nav__name">Analytics</span>
                        </a>
                    </div>
                </div>

                <a href="#" class="nav__link">
                    <i class='bx bx-log-out nav__icon' ></i>
                    <span class="nav__name">Log Out</span>
                </a>
            </nav>
        </div>

        <div class="carbon-emission">
            <div class="Card">
                <div>
                    <h2>This Is Your Average Carbon Footprint </h2>
                    <h2>
                        7.2 kg 
                    </h2>
                </div>
            </div>
            <div class="Card">
                <div>
                    <h2>This Is Carbon Footprint Average so far in this month</h2>
                    <h2>
                        5.0 kg 
                    </h2>
                </div>
                
            </div>

            <div class="Card">
              <div>
                  <h2>This Is Global Ideal Carbon Footprint Average</h2>
                  <h2>
                      5.0 kg 
                  </h2>
              </div>
              
          </div>
        
        </div>

    
	  <div class="section">
        <input class="modal-btn" type="checkbox" id="modal-btn" name="modal-btn"/>
        <label for="modal-btn"><b>Know your daily emission.</b> <i class='bx bx-donate-heart'></i></label> 		
        <div class="modal">		
            <div class="modal-wrap">	
              
              <form id="form1" >
                <h3>HOW DID YOU TRAVEL TODAY ?</h3>
                <p>Percentage (between 0 and 10):</p>
                <div class="form-check form-check-inline container-fluid">
                  <!-- <input class="form-check-input" type="checkbox" id="bus" value="bus"> -->
                  <label class="form-check-label" for="bus">Bus  </label>
              

                 <label for="points">:</label><br>
                 <input class="slider" type="range" id="bus-points" name="points" min="0" max="10" value="0" required="required">
                 <output for="range" class="output"></output>
              </div>
              <div class="form-check form-check-inline container-fluid">
                <!-- <input class="form-check-input" type="checkbox" id="metro" value="metro"> -->
                <label class="form-check-label" for="metro">Metro</label>
             

              <label for="points">:</label>
              <input class="slider" type="range" id="metro-points" name="points" min="0" max="10" value="0">
             
              <br>
            </div>
             

              <div class="form-check form-check-inline container-fluid">
                <!-- <input class="form-check-input" type="checkbox" id="train" value="train"> -->
                <label class="form-check-label" for="train">Train</label>
              

              <label for="points">:</label>
              <input class="slider" type="range" id="train-points" name="points" min="0" max="10" value="0">
              <br >
            </div>
              
              <div class="form-check form-check-inline container-fluid">
                <!-- <input class="form-check-input" type="checkbox" id="car" value="car" > -->
                <label class="form-check-label" for="car">CAR/CAB</label>
             

                <label for="points">:</label>
                <input class="slider" type="range" id="car-points" name="points" min="0" max="10" value="0"> 
              <br>
            </div>

              <div class="form-check form-check-inline container-fluid">
                <!-- <input class="form-check-input" type="checkbox" id="motorbike" value="motorbike" > -->
                <label class="form-check-label" for="motorbike">MotorBike</label>
              

                <label for="points">:</label>
                <input  class="slider" type="range" id="motorbike-points" name="points" min="0" max="10" value="0">
              <br>
            </div>

              <div class="form-check form-check-inline container-fluid">
                <!-- <input class="form-check-input" type="checkbox" id="bicycle" value="bicycle"> -->
                <label class="form-check-label" for="bicycle">Bicycle</label>
              

              <label for="points">:</label>
              <input class="slider" type="range" id="bicycle-points" name="points" min="0" max="10" value="0">
              <br>
            </div>

              <div class="form-check form-check-inline container-fluid">
                <!-- <input class="form-check-input" type="checkbox" id="walking" value="walking"> -->
                <label class="form-check-label" for="walking">Walking</label>
             

              <label for="points">:</label>
              <input class="slider" type="range" id="walking-points" name="points" min="0" max="10" value="0">  
            </div>  
            
            <h4>Enter Average Time Travelled</h4>
            <div class="input-field">
              <i class="fas fa-stopwatch"></i>
              <input type="number" id="hour-quantity" name="quantity" min="0" placeholder="in HRS"  required="required">
            </div>            
            <div class="input-field">
              <i class="fas fa-stopwatch"></i>
              <input type="number" id="min-quantity" name="quantity" min="0" placeholder="in MINS"  required="required">
            </div>
              
              
            </form>

            <form id="form2">
                <h3>WHAT'S YOUR DIET FOR TODAY? </h3>
                <div class = "food-options">
                  
                  <div class="custom-control custom-radio meat">
                    <input type="radio" class="custom-control-input" id="customRadio1" name="example1" value='lots of meat'>
                    <label class="custom-control-label" for="customRadio1">Lots of Meat</label>
                    <img class="ramen" src="/static/img/meat.png" alt="ramen-img" style="width: 50px;">                      
                  </div> 

                  <div class="custom-control custom-radio low-meat">
                    <input type="radio" class="custom-control-input" id="customRadio2" name="example1" value='low meat'>
                    <label class="custom-control-label" for="customRadio2">Low Meat </label> 
                    <img class="ramen" src="/static/img/proteins.png" alt="ramen-img" style="width: 50px;">        
                  </div>

                  <div class="custom-control custom-radio fish">
                    <input type="radio" class="custom-control-input" id="customRadio3" name="example1" value='Pescatarian'>
                    <label class="custom-control-label" for="customRadio3">Pescatarian  </label>  
                    <img class="ramen" src="/static/img/pescatarian.png" alt="ramen-img" style="width: 50px;">       
                  </div>
                  
                  <div class="custom-control custom-radio veg">
                    <input type="radio" class="custom-control-input" id="customRadio4" name="example1" value='Vegetarian'>
                    <label class="custom-control-label" for="customRadio4">Vegetarian </label>  
                    <img class="ramen" src="/static/img/salad.png" alt="ramen-img" style="width: 50px;">       
                  </div>

                  <div class="custom-control custom-radio vegan">
                    <input type="radio" class="custom-control-input" id="customRadio5" name="example1" value='Vegan'>
                    <label class="custom-control-label" for="customRadio5">Vegan  </label>
                    <img class="ramen" src="/static/img/diet.png" alt="ramen-img" style="width: 50px;">         
                  </div>
                </div>
                

                <div class="btn-box"><button type="submit" id="next1">Submit</button></div>
                
              </div>
          
            </div>			          		
        </div>	
       

<!-- personalised goal environmental kit  card -->
<h1 >Climate Change Kit</h1>

<div class="container">
 
  <div class="card">
    <div class="box">
      <div class="content">

        <h3>Environment Card</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, totam velit? Iure nemo labore inventore?</p>
        <a href="#">Read More</a>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="box">
      <div class="content">
  
        <h3>Goal Card</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, totam velit? Iure nemo labore inventore?</p>
        <a href="#">NEXT STEPS</a>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="box">
      <div class="content">

        <h3>Analysis Card</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, totam velit? Iure nemo labore inventore?</p>
        <a href="#">GRAPH</a>
      </div>
    </div>
  </div>
</div>





















        <!-- 

GRADIENT BANNER DESIGN BY miraj:


-->
<!--Made each a list, changed all icons and text ~Oishee-->
<div class="main-container">
  <div class="heading-container">
    <h1 class="heading">Steps To Reach Your Goal</h1>
  
  </div>
  <div class="card-container">
    <div class="card card-5">
      <div class="card__icon"><i class="fas fa-carrot"></i> Food </div>
      <h2 class="card__title"><ul style="list-style-type: none;">
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
      </ul></h2>
      <p class="card__apply">You can do it!!</p>
    </div>
    <div class="card card-1">
      <div class="card__icon"><i class="fas fa-car-side"></i> Travel</div>
      
      <h2 class="card__title"><ul style="list-style-type: none;">
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
      </ul></h2>
      <p class="card__apply"> Go for it!!</a></p>
    </div>
    
    <div class="card card-2">
      <div class="card__icon"><i class="fas fa-bolt"></i> Electricity </div>
      
      <h2 class="card__title"><ul style="list-style-type: none;">
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
      </ul></h2>
      <p class="card__apply">We are rooting for you!!</p>
    </div>
  </div>
</div>



<!-- this is the graph  -->




<div class="full">
  <h1 class="main-title">
      <span class="span1">Carbon Emission Statistics I:</span>
      <span class="span2">Percentage growth in India </span>
   
  </h1>
  <div class="container-graph">
      <div class="bars">
          
          <div class="persp5">
              <figure class="face top"></figure>
              <figure class="face front"></figure>
              <figure class="face left"></figure>
              <figure class="face right"></figure>
              <figure class="face back"></figure>
              <div class="face data-y">5.7</div>
              <div class="face data-x"></div>
              
          </div>
          
          <div class="persp4">
              <figure class="face top"></figure>
              <figure class="face front"></figure>
              <figure class="face left"></figure>
              <figure class="face right"></figure>
              <figure class="face back"></figure>
              <div class="face data-y">9.6</div>
              <div class="face data-x"></div>
              
          </div>
          
          <div class="persp3">
              <figure class="face top"></figure>
              <figure class="face front"></figure>
              <figure class="face left"></figure>
              <figure class="face right"></figure>
              <figure class="face back"></figure>
              <div class="face data-y">15.6</div>
              <div class="face data-x"></div>
              
          </div>
      
          <div class="persp2">
              <figure class="face top"></figure>
              <figure class="face front"></figure>
              <figure class="face left"></figure>
              <figure class="face right"></figure>
              <figure class="face back"></figure>
              <div class="face data-y">26.8</div>
              <div class="face data-x"></div>
          </div>
          
          <div class="persp1">
              <figure class="face top"></figure>
              <figure class="face front"></figure>
              <figure class="face left"></figure>
              <figure class="face right"></figure>
              <figure class="face back"></figure>
              <div class="face data-y">38.5</div>
              <div class="face data-x"></div>
          </div>
      </div>
      
      <div class="base"></div>
   </div>
  <div class="subtitle">
              <ul class="list-social">
                  <li class="fb">2020</li>
                  <li class="twt">2015</li>
                  <li class="gp">2010</li>
                  <li class="lkd">2005</li>
                  <li class="pin">2000</li>
              </ul>
     </div>











          <!-- <div class="wrapper">
            <canvas id='c'></canvas>
            <div class="label">YEAR</div>
          </div> -->
          

        <!--===== MAIN JS =====-->
        <script src="/static/js/dashboard.js"></script>
    </body>
</html>
