<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--========== BOX ICONS ==========-->
        <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

        <!--========== CSS ==========-->
        <link rel="stylesheet" href="/static/css/styles.css">

        <title>CarboHack</title>
    </head>
    <body>
       
        <!-- <div class="preloader" id="preloader">
            <canvas id='canvas'></canvas>
            <div class="wrapper">
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="shadow"></div>
                <div class="shadow"></div>
                <div class="shadow"></div>
                <span>Loading</span>
            </div>
        </div>
       -->


       
        <a href="#" class="scrolltop" id="scroll-top">
            <i class='bx bx-chevron-up scrolltop__icon'></i>
        </a>

        <!--========== HEADER ==========-->
        <header class="l-header" id="header">
            <nav class="nav bd-container">
                <a href="#" class="nav__logo">CarboHack</a>

                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item"><a href="#home" class="nav__link active-link">Home</a></li>
                        <li class="nav__item"><a href="#about" class="nav__link">About</a></li>
                        <li class="nav__item"><a href="#services" class="nav__link">Services</a></li>
                        <!--<li class="nav__item"><a href="#menu" class="nav__link">Menu</a></li>-->
                        <li class="nav__item"><a href="#contact" class="nav__link">Join us</a></li>

                        <li><i class='bx bx-moon change-theme' id="theme-button"></i></li>
                        <li class="nav__item"><a href="/entry_signin" class="nav__link">Sign In</a></li>
                        <li class="nav__item"><a href="/entry_signup" class="nav__link">Sign Up</a></li>
                    </ul>
                </div>

                <div class="nav__toggle" id="nav-toggle">
                    <i class='bx bx-menu'></i>
                </div>
            </nav>
        </header>

        <main class="l-main">
            <!--========== HOME ==========-->
            <section class="home" id="home">
                <div class="home__container bd-container bd-grid">
                    <div class="home__data">
                        <h1 class="home__title">CARBOHACK</h1>
                        <h3 class="home__subtitle">Track Your Carbon Footprint & Save Our Planet As We Bring Climate Change At Your Fingertip.</h3>
                        <a href="/entry_signup" class="button">Join The Movement</a>
                    </div>
    
                    <img src="/static/img/footprint1.jpg" alt="" class="home__img" >
                </div>
            </section>
            
            <!--========== ABOUT ==========-->
            <section class="about section bd-container" id="about">
                <div class="about__container  bd-grid">
                    <div class="about__data">
                        <!-- <span class="section-subtitle about__initial">About</span> -->
                        <h2 class="section-title about__initial">WHAT IS <br> CARBON FOOTPRINT</h2>
                        <p class="about__description">A carbon footprint is the total amount of greenhouse gases emitted by an individual, organization, event or place. The lower your carbon footprint is, the better it is for our environment. Hence by reducing your own carbon footprint, you would essentially be playing a part in saving our Earth.</p>
                        <!--<a href="#" class="button">Explore history</a>-->
                    </div>

                    <img src="/static/img/about3.jpg" alt="" class="about__img">
                </div>
            </section>

            <!--========== SERVICES ==========-->
            <section class="services section bd-container" id="services">
                <!-- <span class="section-subtitle">Services</span> -->
                <h2 class="section-title">WHAT WE DO</h2>

                <div class="services__container  bd-grid">
                    <div class="services__content">
                        <img src="\static\img\undraw_Calculator_0evy.svg" alt="" class="services_img">
                        <h3 class="services__title">Calculate your</h3>
                        <p class="services__description">Carbon Footprint caused by your lifestyle and actions. You can learn your carbon footprint just by answering a few simple questions of ours.</p>
                    </div>

                    <div class="services__content">
                        <img src="\static\img\undraw_Report_re_kp7y.svg" alt="" class="services_img">
                        <h3 class="services__title">Track it everyday</h3>
                        <p class="services__description">We make it possible for you to track your own carbon footprint on a daily and monthly basis and check whether you are reducing it successfully.</p>
                    </div>

                    <div class="services__content">
                        <img src="/static/img/undraw_discount_d4bd.svg" alt="" class="services_img">
                        <h3 class="services__title">Help you reduce</h3>
                        <p class="services__description">your carbon emission. We offer personalized suggestions and analyse your complete emission track on the basis of your lifetyle and calculated carbon footprint.</p>
                    </div>
                </div>
            </section>

         

            <!--===== APP =======-->
            <section class="app section bd-container">
                <div class="app__container bd-grid">
                    <div class="app__data">
                        <!-- <span class="section-subtitle app__initial"></span> -->
                        <h2 class="section-title app__initial"><a href="/entry_signin" class="button">Sign In</a> /
                            <a href="/entry_signup" class="button">Sign Up</a></h2>
                        <p class="app__description">WE BRING CLIMATE CHANGE RIGHT AT YOUR FINGERTIP,JOIN US TO CLAIM YOUR ENVIRONMENTAL POINTS & HAVE A SUSTAINABLE CARBON FOOTPRINT TRACKING JOURNEY.</p> <!--Find our application and download it, you can make reservations, food orders, see your deliveries on the way and much more.</p>
                        <div class="app__stores">
                            <a href="#"><img src="/static/img/app1.png" alt="" class="app__store"></a>
                            <a href="#"><img src="/static/img/app2.png" alt="" class="app__store"></a> 
                            
                            
                        </div>-->
                    </div>

                    <img src="/static/img/pexels-pixabay-87651.jpg" alt="" class="app__img">
                </div>
            </section>

            <!--========== JOIN COMMUNITY ==========-->
            <section class="contact section bd-container" id="contact">
                <div class="contact__container bd-grid">
                    <div class="contact__data">
                        <!-- <span class="section-subtitle contact__initial">Let's talk</span> -->
                        <h2 class="section-title contact__initial">Our Community</h2>
                        <p class="contact__description">You bring change only when you are aware,Join us and share your journey in our fight for Earth's survival.</p>
                    </div>

                    <div class="contact__button">
                        <a href="/entry_signup" class="button">Join the Community</a>
                    </div>
                </div>
            </section>
        </main>

        <!--========== FOOTER ==========-->
        <footer class="footer section bd-container">
            <div class="footer__container bd-grid">
                <div class="footer__content">
                    <a href="#" class="footer__logo">CarboHack</a>
                    <span class="footer__description">Track your carbon footprint</span>
                    <div>
                        <a href="#" class="footer__social"><i class='bx bxl-facebook'></i></a>
                        <a href="#" class="footer__social"><i class='bx bxl-instagram'></i></a>
                        <a href="#" class="footer__social"><i class='bx bxl-twitter'></i></a>
                    </div>
                </div>

                <div class="footer__content">
                    <h3 class="footer__title">Services</h3>
                    <ul>
                        <li><a href="#" class="footer__link">Carbon Tracking</a></li>
                        <li><a href="#" class="footer__link">Environmental Points</a></li>
                        <li><a href="#" class="footer__link">Community Blogs</a></li>
                        <li><a href="#" class="footer__link">Personalised Analysis</a></li>
                    </ul>
                </div>

                <div class="footer__content">
                    <h3 class="footer__title">Information</h3>
                    <ul>
                        <li><a href="#" class="footer__link">Event</a></li>
                        <li><a href="#" class="footer__link">Contact us</a></li>
                        <li><a href="#" class="footer__link">Privacy policy</a></li>
                        <li><a href="#" class="footer__link">Terms of services</a></li>
                    </ul>
                </div>

                <div class="footer__content">
                    <h3 class="footer__title">Address</h3>
                    <ul>
                        <li>Location-India</li>
                        <li>West-Bengal #101</li>
                        <li>033-23346066</li>
                        <li>carbohack2021@gmail.com</li>
                    </ul>
                </div>
            </div>

            <p class="footer__copy">&#169; 2021 CarboHack. All right reserved</p>
        </footer>

        <!--========== SCROLL REVEAL ==========-->
        <script src="https://unpkg.com/scrollreveal"></script>

        <!--========== MAIN JS ==========-->
        <script src="/static/js/main.js"></script>
    </body>
    <!---------------For Preloader------------------------>
  
</html>
