<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Questionaire</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
        <link rel="icon" href="leaf.png">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
        
        <!-- internal CSS -->
        <link rel="stylesheet" href="/static/css/questionare.css">

        <script
        src="https://kit.fontawesome.com/64d58efce2.js"
        crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    
    </head>
    <body>
      <nav class="navbar navbar-light bg-nav">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <!-- <img src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="30" height="24" class="d-inline-block align-text-top"> -->
           <h5>CarboHack-Questionare</h5> 
          </a>
        </div>
      </nav>
   
        <!-- Form 1  -->
        <div class="container">
           <div>
            <form id="form1" action="" >
                <h3>HOW DO YOU TRAVEL MOST OFTEN?</h3>
                <div class="form-check form-check-inline container-fluid">
                  <!-- <input class="form-check-input" type="checkbox" id="bus" value="bus"> -->
                  <label class="form-check-label" for="bus">Bus</label>
              

                 <label for="points">Percentage (between 0 and 10):</label>
                 <input class="slider" type="range" id="step1-bus" name="points-bus" min="0" max="10" value="0" required="required">
                 <output for="range" class="output"></output>
              </div>

                <div class="form-check form-check-inline container-fluid">
                  <!-- <input class="form-check-input" type="checkbox" id="metro" value="metro"> -->
                  <label class="form-check-label" for="metro">Metro</label>
               

                <label for="points">Percentage (between 0 and 10):</label>
                <input class="slider" type="range" id="step1-metro" name="points-metro" min="0" max="10" value="0">
               
                <br>
              </div>
               

                <div class="form-check form-check-inline container-fluid">
                  <!-- <input class="form-check-input" type="checkbox" id="train" value="train"> -->
                  <label class="form-check-label" for="train">Train</label>
                

                <label for="points">Percentage (between 0 and 10):</label>
                <input class="slider" type="range" id="step1-train" name="points-train" min="0" max="10" value="0">
                <br >
              </div>
                
                <div class="form-check form-check-inline container-fluid">
                  <!-- <input class="form-check-input" type="checkbox" id="car" value="car" > -->
                  <label class="form-check-label" for="car">CAR/CAB</label>
               

                  <label for="points">Percentage (between 0 and 10):</label>
                  <input class="slider" type="range" id="step1-car" name="points-car" min="0" max="10" value="0"> 
                <br>
              </div>

                <div class="form-check form-check-inline container-fluid">
                  <!-- <input class="form-check-input" type="checkbox" id="motorbike" value="motorbike" > -->
                  <label class="form-check-label" for="motorbike">MotorBike</label>
                

                  <label for="points">Percentage (between 0 and 10):</label>
                  <input  class="slider" type="range" id="step1-bike" name="points-bike" min="0" max="10" value="0">
                <br>
              </div>

                <div class="form-check form-check-inline container-fluid">
                  <!-- <input class="form-check-input" type="checkbox" id="bicycle" value="bicycle"> -->
                  <label class="form-check-label" for="bicycle">Bicycle</label>
                

                <label for="points">Percentage (between 0 and 10):</label>
                <input class="slider" type="range" id="step1-bicycle" name="points-bicycle" min="0" max="10" value="0">
                <br>
              </div>

                <div class="form-check form-check-inline container-fluid">
                  <!-- <input class="form-check-input" type="checkbox" id="walking" value="walking"> -->
                  <label class="form-check-label" for="walking">Walking</label>
               

                <label for="points">Percentage (between 0 and 10):</label>
                <input class="slider" type="range" id="step1-walking" name="points-walking" min="0" max="10" value="0">  
              </div>  
              
              <h4>Enter Average Time Travelled</h4>
              <div class="input-field">
                <i class="fas fa-stopwatch"></i>
                <input type="number" id="step1-hour" name="quantity" min="0" placeholder="in HRS"  required="required">
              </div>            
              <div class="input-field">
                <i class="fas fa-stopwatch"></i>
                <input type="number" id="step1-min" name="quantity" min="0" placeholder="in MINS"  required="required">
              </div>
                
                <div class="btn-box"><button type="button" id="next1">Next</button></div>
              </form>

              
            </div>

              <!-- Form 2     -->
              <form id="form2">
                  <h3>SELECT THE DIET MEAL THAT YOU PREFER THE MOST </h3>
                  <div class = "food-options">
                    
                    <div class="custom-control custom-radio">
                      <input type="radio" class="custom-control-input" id="step2-meat" name="example1" value='lots of meat'>
                      <label class="custom-control-label" for="customRadio">Lots of Meat <br/> (more than 100g of meat everyday)</label>
                      <img class="ramen" src="/static/img/meat.png" alt="ramen-img" width="100" height="100">                      
                    </div> 

                    <div class="custom-control custom-radio">
                      <input type="radio" class="custom-control-input" id="step2-lowmeat" name="example1" value='low meat'>
                      <label class="custom-control-label" for="customRadio">Low Meat <br/> (Meat every other day on average) </label> 
                      <img class="ramen" src="/static/img/proteins.png" alt="ramen-img" width="100" height="100">        
                    </div>

                    <div class="custom-control custom-radio">
                      <input type="radio" class="custom-control-input" id="step2-pescatarian" name="example1" value='Pescatarian'>
                      <label class="custom-control-label" for="customRadio">Pescatarian <br/> (A serving of fish/seafood every other day) </label>  
                      <img class="ramen" src="/static/img/pescatarian.png" alt="ramen-img" width="100" height="100">       
                    </div>
                    
                    <div class="custom-control custom-radio">
                      <input type="radio" class="custom-control-input" id="step2-vegetarian" name="example1" value='Vegetarian'>
                      <label class="custom-control-label" for="customRadio">Vegetarian <br/> (No meat, but eggs and dairy products eaten)</label>  
                      <img class="ramen" src="/static/img/salad.png" alt="ramen-img" width="100" height="100">       
                    </div>

                    <div class="custom-control custom-radio">
                      <input type="radio" class="custom-control-input" id="step2-vegan" name="example1" value='Vegan'>
                      <label class="custom-control-label" for="customRadio">Vegan <br/> (NO meat, eggs, dairy or other animal products eaten) </label>
                      <img class="ramen" src="/static/img/diet.png" alt="ramen-img" width="100" height="100">         
                    </div>

                  </div>
                  <div class="btn-box">
                      <button type="button" id="back1">Back</button>
                      <button type="button"id="next2">Next</button>
                  </div>
              </form>

              <!-- Form 3 -->
              <form id="form3" action='#'>
                  <h3>ONE STEP AWAY FROM KNOWING YOUR CARBON FOOTPRINT.</h3>
                  <h4>What was your electricity consumption range value last month? </h4> 
                  <div class="slider-wrapper">
                    <label class="slider-wrapper-label"  for="customRadio">  </label>
                    <input id="range-slider" class="fluid-slider" type="range" value="0" min="0" max="15000"  required="required">
                    <span id="range-label" class="range-label"></span>
                  </div>
                  <div class="box">
                   <h1 >Value of your electricity bill in INR:</h1> 
                    <h2 id="waoo">
                    </h2>
                  </div>
                  <h1 id="waoo">

                  </h1>

                  <h4> How many members are there in your family?</h4>
                  <div class="input-field">
                    <i class="fas fa-user"></i>
                    <input type="number" id="member-quantity" name="quantity" min="0" placeholder="MEMBERS"  required="required">
                  </div>
                  <h4> Please mention your state </h4>
                  <div class="input-field">
                    <i class="fas fa-thumbtack"></i>
                    <input type="text" placeholder="Loaction-State" required="required" id="state">
                  </div>
                  <h4> How many flights do you take yearly?</h4>
                  <div class="input-field">
                    <i class="fas fa-plane"></i>
                    <input type="number" id="flight" name="quantity" min="0" placeholder="no-of-flights"  required="required">
                  </div>
                
                  <div class="btn-box">
                      <button type="button" id="back2">Back</button>
                      <button type="button" id="final-submit">Submit</button>                      
                  </div>
                </form>
                

                <!-- Progress Bar -->
                <div class="step-row">
                    <div id="progress"></div>
                    <div class="step-col">Step1</div>
                    <div class="step-col">Step2</div>
                    <div class="step-col">Step3</div>
                </div>

                


        </div>

    </body>
    <script src="/static/js/questionare.js"></script>
</html>
