<html>
<head>
	<title>Sign Up</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="login">
        <h1>SIGN UP</h1>
        <form method="post">
            <input type="text" name="fn" placeholder="First Name" required="required" />
			<input type="text" name="ln" placeholder="Last Name" required="required" />
			<input type="text" name="e" placeholder="Email Id" required="required" />
			
			<!--<select name="cars" placeholder="State" required="required">
				<option value="volvo">Volvo</option>
				<option value="saab">Saab</option>
				<option value="opel">Opel</option>
				<option value="audi">Audi</option>
			</select> -->
            <input type="password" name="pw" placeholder="Password" required="required" />
			<input type="password" name="pw-repeat" placeholder="Confirm Password" required="required" />
			<p>By creating an account you agree to our <a href="https://www.w3schools.com/howto/howto_css_signup_form.asp" style="color:dodgerblue">Terms & Conditions</a>.</p>
            <button type="submit" class="btn btn-primary btn-block btn-large">Create Account</button>
        </form>
    </div>
</body>
</html>
